#ignore hidden files except git
/.*
!/.git

#UI builds
/src/ui_*.py

#resources qt build
/src/resources_rc.py

/src/.*

#translations
/locale/*.qm

#python cache
/src/*/__pycache__/
/src/*/*/__pycache__/

