#ignore hidden files except git, github and vscode
/.*
!/.github
!/.git
!/.vscode
build_config

#Package builds
/package_utils/*
!/package_utils/bundle-source.sh

# qt api (version) checker
/src/shared/qt_api.py

#UI builds
/src/gui/ui/*.py
!/src/gui/ui/__init__.py
/src/gui/patchbay/ui/*.py
/src/clients/proxy/ui_*.py

#resources qt build
/src/gui/resources_rc.py

/src/.*
/src/*/.*
/src/*/*/.*

#translations
/locale/*.qm

#python cache
**/__pycache__/
# /houston_patchbay/patchbay/__pycache__/
# /houston_patchbay/patchbay/*/__pycache__/
# /houston_patchbay/patchbay/*/*/__pycache__/
# /houston_patchbay/patchbay/*/*/*/__pycache__/
# /pyjacklib/jacklib/__pycache__/
# /src/__pycache__/
# /src/*/__pycache__/
# /src/*/*/__pycache__/
# /src/*/*/*/__pycache__/
# /src/*/*/*/*/__pycache__/
# /src/*/*/*/*/*/__pycache__/

# ignore kdevelop file
RaySession.kdev4

# ignore memo
memo_snapshots
resources/resources_rc.py
