[Desktop Entry]
Name=Ray Session
GenericName=Ray Session
Comment=Audio Session Manager
Comment[fr]=Gestionnaire de sessions audios
Exec=raysession
Icon=raysession
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
