[Desktop Entry]
Name=RaySession
GenericName=RaySession
Comment=Audio Session Manager
Comment[fr]=Gestionnaire de sessions audios
Exec=raysession
Icon=raysession
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
