/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */

:root{
--maincolor:#cccccc;
--primarycolor:#5E5E5E; /* Grey 500 */
--secondarycolor:#ba3925;
--tertiarycolor: #186d7a;
--sidebarbackground:#232323; /* Grey 900 */
--linkcolor:#808080; /* Grey 200 */
--linkcoloralternate:#d0d0d0;
--white:#FFFFFF;
--black:#000000;
--gold:#ffd777;
--brown:#4e2b10;
}

body{font-family: "Noto Sans",sans-serif;background-color: var(--maincolor);link-color: var(--gold)}

#header{background-color:var(--brown); padding:25px;padding-top:0px;max-width: none;}
#footer{background-color: var(--sidebarbackground);}
/* h1{color:#ffd755 !important;font-family:"Noto Sans",sans-serif;} */
h1{color:var(--white) !important;font-family:"Noto Sans",sans-serif;}
h2{background-color:var(--brown);;color:var(--gold) !important;font-family:"Noto Sans",sans-serif;text-decoration:none;padding:10px;border-top-left-radius:10px;border-top-right-radius:10px;}
h3{background-color:var(--primarycolor);color:white !important;font-family:"Noto Sans",sans-serif;text-decoration:none;padding:10px;border-top-left-radius:6px;border-top-right-radius:6px;}
h4,h5,h6{color:var(--primarycolor);}
.title{color:var(--sidebarbackground) !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:#d0d0d0;font-family: "Noto Sans",sans-serif ! important;font-size:13px;}

a {
  text-decoration: none;
  color: var(--linkcolor);
}
a:hover {
  color: var(--white);
}
.quoteblock blockquote::before {
  color: var(--linkcoloralternate);
}
mark {
  color: var(--white);
  background-color: var(--linkcolor);
}

/* Card styling */
.sect1{border-bottom:1px solid grey;border-radius:10px;}

/* Table styles */
th{background-color: var(--linkcolor);color:var(--white);}

#toc.toc2{background-color:var(--sidebarbackground);color:var(--gold);}
#toc.toc2.a{color:var(--gold);}
#toc.toc2.a:active{color:var(--gold);}
#toc.toc2.a:visited{color:var(--gold);}
#toctitle{color:var(--gold); !important;background-color:var(--brown);font-size: 14px !important;padding:10px;border-radius:6px;}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}
